<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Card creator</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div>
      <h2><%= error %></h2>
      <p><%= msg %></p>
      <div>
        <a href="/">Take me back</a>
      </div>
      <div>
        <a href="/settings">Take me to my settings</a>
      </div>
    </div>
  </body>
</html>
