<%- include("partials/header") -%>

<body>
  <div id="login-page">
    <div>
      <h2>Login</h2>
    </div>
    <div>
      <form action="" method="POST">
        <div>
          <label for="username">Username:</label>
          <input name="username" type="text" id="username" value="" />
        </div>
        <div>
          <label for="password">Password:</label>
          <input name="password" type="password" id="password" value="" />
        </div>
        <div>
          <button>Login</button>
        </div>
      </form>
    </div>
  </div>
</body>
