<%- include("partials/header") -%>

<body>
  <div id="signup-page">
    <div>
      <h2>Sign up</h2>
    </div>
    <div>
      <form action="" method="POST">
        <div>
          <label for="username">Username:</label>
          <input name="username" id="username" value="" />
        </div>
        <div>
          <label for="password">Password:</label>
          <input name="password" id="password" value="" />
        </div>
        <div>
          <label for="password2">Re-enter password:</label>
          <input name="password2" id="password2" value="" />
        </div>
        <div>
          <button>Sign up</button>
        </div>
      </form>
    </div>
  </div>
</body>
